# OS files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
.gemini/
node_modules/
dist/
build/

# Local study resources and documentations (not for deploy/github)
Templates/
Briefing/
animacoes-na-pratica/
*.md
!README.md
